{% extends 'base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Portfolio</th>
                <th>Asset</th>
                <th>Asset_Type</th>
                <th>Average Price</th>
                <th>Total Profit</th>
                <th>Quantity</th>
                <th>Total Cost</th>
                
            </tr>
        </thead>
        <tbody>
            {% for entry in assets %}
                <tr>
                    <td>{{ entry.portfolio.name }}</td>
                    <td>{{ entry.symbol }}</td>
                    <td>{{ entry.asset_type }}</td>
                    {% for key, value in value_dict.items %}
                        {% if entry == key %}
                            <td>{{ value.current_average_price|floatformat:5 }}</td>
                            <td>{{ value.total_profit|floatformat:5 }}</td>
                            <td>{{ value.current_quantity }}</td>
                            <td>{{ value.total_cost|floatformat:5 }}</td>  
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}